body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://sputnik.kz/img/07e4/07/18/14565068_246:0:3887:2048_1920x0_80_0_0_020ed5c6f75ae58f984d11a488d1e52d.jpg')!important ;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
}